<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <title>{{ page.title }} • {{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <link rel="stylesheet" href="{{ "/assets/fonts/inter/inter.css" }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>